# Gradle / Kotlin build output
build/
.gradle/
.kotlin/
/local.properties
/app/android/release.keystore

# IDE
/.idea/
*.iml
/captures
*.hprof

# Xcode
**/xcuserdata/

# Room / SQLite databases
*.db
*.db-shm
*.db-wal
*.db.lck
*.db.lock

# macOS
.DS_Store
